* { padding: 0; margin: 0; }

@font-face {
    font-family: 'SpaceMono';
    src: url("../assets/SpaceMono-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'SpaceMono';
    src: url("../assets/SpaceMono-Italic.ttf");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'SpaceMono';
    src: url("../assets/SpaceMono-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SpaceMono';
    src: url("../assets/SpaceMono-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

canvas { 
    background-color: rgb(17, 16, 16); 
    display: block;
    margin: 0 auto;
    position: relative;
    top: 10em;
}

div#start-screen {
    background-color: rgb(17, 16, 16);
    display: block;
    margin: auto;
    height: 380px;
    width: 600px;
    text-align: center;
    position: relative;
    top: 20em;
}

div#start-screen h1 {
    color: rgb(255, 255, 255);
    position: relative;
    top: 1em;
}

div#start-screen input {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 16, 16);
    margin: 150px;
    padding: 20px 100px;
    font-size: xx-large;
}